:root {
  --background: #e4b686;
  --box-background: #fefefe;
  --box-border: #a58059;
  --csm-blue:#003767;
  --csm-yellow:#ffd457;
  --text-color:#111;
}

.lepidoptera {
  --accent-1:#CD104D;
  --accent-2:#FD841F;
  --accent-3:#E14D2A;
}

.hymenoptera {
  --accent-1:#F77E21;
  --accent-2:#FAC213;
  --accent-3:#FEF9A7;
}

.coleoptera {
  --accent-1:#1C6758;
  --accent-2:#3D8361;
  --accent-3:#D6CDA4;
}