:root {
  --background: #e4b686;
  --box-background: #fefefe;
  --box-border: #a58059;
  --csm-blue:#003767;
  --csm-yellow:#ffd457;
  --text-color:#111;
}

.lepidoptera {
  --accent-1:#CD104D;
  --accent-2:#FD841F;
  --accent-3:#E14D2A;
}

.hymenoptera {
  --accent-1:#FAC213;
  --accent-2:#FEF9A7;
  --accent-3:#F77E21;
}